Repository nimblehq/nimble-ecommerce-ios, pull requests merged in 2021-05, with the labels that each got.

#27 [1] Initialize and setup project
  .gitignore
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ecommerce-ios.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ecommerce-ios.xcworkspace/contents.xcworkspacedata
  ecommerce-ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ecommerce-ios/Assets.xcassets/AccentColor.colorset/Contents.json
  ecommerce-ios/Assets.xcassets/AppIcon.appiconset/Contents.json
  ecommerce-ios/Assets.xcassets/Contents.json
  ecommerce-ios/ContentView.swift
  ecommerce-ios/EcommerceApp.swift
  ecommerce-ios/Info.plist
  ecommerce-ios/Preview Content/Preview Assets.xcassets/Contents.json
  ecommerce-iosTests/EcommerceTests.swift
  ecommerce-iosTests/Info.plist
  ecommerce-iosUITests/EcommerceUITests.swift
  ecommerce-iosUITests/Info.plist
Labels: type : feature

#31 [2] As a user, I can see the splash screen
  .swiftlint.yml
  Podfile
  Podfile.lock
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Info.plist
  ecommerce-ios/Application/LaunchScreen.storyboard
  ecommerce-ios/Application/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/logo.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/logo.imageset/logo.pdf
  ecommerce-ios/Application/Resources/R.swift/R.typealiases.swift
  ecommerce-ios/Extensions/View+Hidden.swift
  ecommerce-ios/Sources/Main/ContentView.swift
  ecommerce-ios/Sources/Main/EcommerceApp.swift
Labels: type : feature

#32 [3] [4] [UI] As a user, I can see the Tab Bar
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Constants/Constants.swift
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/cart-fill.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/cart-fill.imageset/cart-fill.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/cart.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/cart.imageset/cart.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/home-fill.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/home-fill.imageset/home-fill.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/home.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/home.imageset/home.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/profile-fill.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/profile-fill.imageset/profile-fill.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/profile.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/profile.imageset/profile.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/search-fill.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/search-fill.imageset/search-fill.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/search.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tabbar/search.imageset/search.pdf
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Extensions/View+TabbarItem.swift
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Sources/Main/ContentView.swift
  ecommerce-ios/Sources/MyCart/MyCartScreen.swift
  ecommerce-ios/Sources/Profile/ProfileScreen.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
  ecommerce-ios/Sources/Tabbar/TabbarView.swift
Labels: UI, type : feature

#33 [5] [UI] As a user, I can see title and profile icon on navigation bar
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Constants/Constants.swift
  ecommerce-ios/Application/Resources/Assets.xcassets/avatar-icon.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/avatar-icon.imageset/avatar-icon.pdf
  ecommerce-ios/Extensions/View+NavigationBar.swift
  ecommerce-ios/Sources/Home/HomeScreen.swift
Labels: Epic - Discover, UI, type : feature

#28 [10] Add widget capability
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-iosWidget/Assets.xcassets/Contents.json
  ecommerce-iosWidget/EcommerceiOSWidget.intentdefinition
  ecommerce-iosWidget/EcommerceiOSWidget.swift
  ecommerce-iosWidget/Info.plist
Labels: Integration, Widget

#34 [22] [UI] As a user, I can see list of categories in Search screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Extensions/Collection/Array+Safe.swift
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Extensions/View+NavigationBar/View+CustomNavigationBarLargeTitle.swift
  ecommerce-ios/Extensions/View+NavigationBar/View+NavigationBar.swift
  ecommerce-ios/Helpers/ScreenSize+Ultility.swift
  ecommerce-ios/Models/ItemType.swift
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/Contents.json
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-cone.imageset/Contents.json
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-cone.imageset/icon-cone.pdf
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-cube.imageset/Contents.json
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-cube.imageset/icon-cube.pdf
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-ico.imageset/Contents.json
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-ico.imageset/icon-ico.pdf
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-shuzam.imageset/Contents.json
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-shuzam.imageset/icon-shuzam.pdf
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-sphere.imageset/Contents.json
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-sphere.imageset/icon-sphere.pdf
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-taurus.imageset/Contents.json
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/icon-taurus.imageset/icon-taurus.pdf
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Sources/Search/Cell/SearchItemCell.swift
  ecommerce-ios/Sources/Search/Cell/SearchItemCellViewModel.swift
  ecommerce-ios/Sources/Search/Row/SearchItemRow.swift
  ecommerce-ios/Sources/Search/Row/SearchItemRowViewModel.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
  ecommerce-ios/Views/CustomNavigationBar/ContentView/CustomNavigationBarContentView.swift
  ecommerce-ios/Views/CustomNavigationBar/LargeTitleView/CustomNavigationBarLargeTitleView.swift
Labels: Epic - Search, type : feature

#37 [6] [UI] As a user, I can see Suggested Product under navigation bar
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-cone.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-cone.imageset/icon-cone.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-cube.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-cube.imageset/icon-cube.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-ico.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-ico.imageset/icon-ico.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-shuzam.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-shuzam.imageset/icon-shuzam.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-sphere.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-sphere.imageset/icon-sphere.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-taurus.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/icon-taurus.imageset/icon-taurus.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/product-cube.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/product-cube.imageset/product-cube.pdf
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Extensions/View+NavigationBar/View+CustomNavigationBarLargeTitle.swift
  ecommerce-ios/Extensions/View+NavigationBar/View+NavigationBar.swift
  ecommerce-ios/Models/ItemType.swift
  ecommerce-ios/Models/Price.swift
  ecommerce-ios/Models/Product.swift
  ecommerce-ios/Preview Content/Preview Assets.xcassets/icon/Contents.json
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Sources/Home/SuggestedView/SuggestedView.swift
  ecommerce-ios/Sources/Search/Cell/SearchItemCellViewModel.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
Labels: UI, type : feature

#29 [11] Add Image to Small Widget
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-iosWidget/EcommerceiOSWidget.swift
  ecommerce-iosWidget/ItemView.swift
  ecommerce-iosWidget/SmallWidgetView.swift
Labels: UI, Widget

#45 [Chore] Update link for PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type : chore

#38 [21] [UI] As a user, I can see search bar on top
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-cone.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-cone.imageset/icon-cone.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-cube.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-cube.imageset/icon-cube.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-ico.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-ico.imageset/icon-ico.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-shuzam.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-shuzam.imageset/icon-shuzam.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-sphere.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-sphere.imageset/icon-sphere.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-taurus.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search-item/icon-taurus.imageset/icon-taurus.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search/icon-search.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search/icon-search.imageset/icon-search.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search/icon-x-circle.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/screen-search/icon-x-circle.imageset/icon-x-circle.pdf
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Extensions/String+Utility.swift
  ecommerce-ios/Extensions/View+CustomOverlayView.swift
  ecommerce-ios/Extensions/View+NavigationBar/View+CustomNavigationBarLargeTitle.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
  ecommerce-ios/Views/SearchBar/SearchBarView.swift
Labels: Epic - Search, type : feature

#40 [7] [UI] As a user, I can see Design list
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/cube.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/cube.imageset/cube.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/cylinder.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/cylinder.imageset/cylinder.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/ico.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/ico.imageset/ico.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/shuzam.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/shuzam.imageset/shuzam.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/sphere.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/sphere.imageset/sphere.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/torus.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/shape/torus.imageset/torus.pdf
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Models/Category.swift
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Sources/Home/View/CategoryView/CategoryCollectionView.swift
  ecommerce-ios/Sources/Home/View/CategoryView/CategoryView.swift
  ecommerce-ios/Sources/Home/View/SuggestedView/SuggestedView.swift
Labels: Epic - Discover, UI, type : feature

#44 [39] [UI] As a user, I can see the UI of the Search Result screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/common-icon/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/common-icon/icon-heart.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/common-icon/icon-heart.imageset/icon-heart.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-gray.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-gray.imageset/tshirt-cube-gray.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-honey.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-honey.imageset/tshirt-cube-honey.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-indigo.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-indigo.imageset/tshirt-cube-indigo.pdf
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-pink.imageset/Contents.json
  ecommerce-ios/Application/Preview Content/Preview Assets.xcassets/search-result-tshirt/tshirt-cube-pink.imageset/tshirt-cube-pink.pdf
  ecommerce-ios/Extensions/Double+NumberFormatter.swift
  ecommerce-ios/Extensions/NumberFormatters+Formatter.swift
  ecommerce-ios/Views/ProductCell/ProductCell.swift
  ecommerce-ios/Views/ProductCell/ProductCellViewModel.swift
Labels: Epic - Discover, Epic - Search, UI, type : feature

#30 [12] Add Small Widget Title
  ecommerce-iosWidget/SmallWidgetView.swift
Labels: UI, Widget

#46 [23] [24] [39] [UI] As a user, I can see the UI of the Search Result screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-back.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-back.imageset/icon-back.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-heart.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-heart.imageset/icon-heart.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-cone.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-cone.imageset/icon-cone.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-cube.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-cube.imageset/icon-cube.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-ico.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-ico.imageset/icon-ico.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-shuzam.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-shuzam.imageset/icon-shuzam.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-sphere.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-sphere.imageset/icon-sphere.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-taurus.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-item/icon-taurus.imageset/icon-taurus.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-gray.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-gray.imageset/tshirt-cube-gray.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-honey.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-honey.imageset/tshirt-cube-honey.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-indigo.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-indigo.imageset/tshirt-cube-indigo.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-pink.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search-result-tshirt/tshirt-cube-pink.imageset/tshirt-cube-pink.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search/icon-search.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search/icon-search.imageset/icon-search.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search/icon-x-circle.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-search/icon-x-circle.imageset/icon-x-circle.pdf
  ecommerce-ios/Models/ItemType.swift
  ecommerce-ios/Models/SearchItem.swift
  ecommerce-ios/Models/SearchResultItem.swift
  ecommerce-ios/Sources/Search/Cell/SearchItemCell.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
  ecommerce-ios/Sources/SearchResult/SearchResultScreen.swift
  ecommerce-ios/Sources/SearchResult/SearchResultScreenViewModel.swift
  ecommerce-ios/Views/ProductCell/ProductCell.swift
  ecommerce-ios/Views/SearchBar/SearchBarView.swift
Labels: Epic - Product, type : feature

#47 [25] [UI] As a user, I can see my cart screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-cart.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-cart.imageset/icon-cart.pdf
  ecommerce-ios/Sources/MyCart/MyCartScreen.swift
  ecommerce-ios/Views/NoItem/NoItemView.swift
  ecommerce-ios/Views/NoItem/NoItemViewModel.swift
Labels: Epic - My Cart, UI, type : feature

#52 [48] [UI] As a user, I can see the product information section on the Product Detail screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Resources/Assets.xcassets/tshirt.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/tshirt.imageset/tshirt.pdf
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Extensions/Double+NumberFormatter.swift
  ecommerce-ios/Sources/MyCart/MyCartScreen.swift
  ecommerce-ios/Views/CustomNavigationBar/ContentView/CustomNavigationBarContentView.swift
  ecommerce-ios/Views/ProductInformation/ProductInformationView.swift
  ecommerce-ios/Views/ProductInformation/ProductInformationViewModel.swift
  ecommerce-ios/Views/SearchItemCell/SearchItemCell.swift
  ecommerce-ios/Views/SearchItemCell/SearchItemCellViewModel.swift
Labels: Epic - Product Detail, UI, type : feature

#53 [50] [UI] As a user, I can see the product size selection section on the Product Detail screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Views/SizeCell/SizeCell.swift
  ecommerce-ios/Views/SizeCell/SizeCellViewModel.swift
  ecommerce-ios/Views/SizeSelection/SizeSelectionView.swift
  ecommerce-ios/Views/SizeSelection/SizeSelectionViewModel.swift
Labels: Epic - Product Detail, UI, type : feature

#36 [35] Add Large widget with ItemGrid
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-iosWidget/EcommerceiOSWidget.swift
  ecommerce-iosWidget/WidgetView/ItemView.swift
  ecommerce-iosWidget/WidgetView/ItemsGridView.swift
  ecommerce-iosWidget/WidgetView/LargeWidgetView.swift
  ecommerce-iosWidget/WidgetView/SmallWidgetView.swift
Labels: UI, Widget

#65 Update issue template
  .github/ISSUE_TEMPLATE/feature_template.md
Labels: type : chore

#54 [49] [UI] As a user, I can see the product color selection section on the Product Detail screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Sources/Main/ContentView.swift
  ecommerce-ios/Views/ColorCell/ColorCell.swift
  ecommerce-ios/Views/ColorCell/ColorCellViewModel.swift
  ecommerce-ios/Views/ColorSelectionView/ColorSelectionView.swift
Labels: Epic - Product Detail, UI, type : feature

#43 [41] [UI] As a user, I can see item and description for large widget
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-iosWidget/Assets.xcassets/icon.imageset/Contents.json
  ecommerce-iosWidget/Assets.xcassets/icon.imageset/icon.pdf
  ecommerce-iosWidget/WidgetView/ItemDescritionView.swift
  ecommerce-iosWidget/WidgetView/ItemsGridView.swift
  ecommerce-iosWidget/WidgetView/LargeWidget/LargeWidgetTitleView.swift
  ecommerce-iosWidget/WidgetView/LargeWidget/LargeWidgetView.swift
  ecommerce-iosWidget/WidgetView/LogoView.swift
Labels: UI, Widget, type : feature

#56 [26] [UI] As a user, I can see my Profile screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Resources/Assets.xcassets/avatar-large-icon.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/avatar-large-icon.imageset/avatar-large-icon.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-disclosure.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-disclosure.imageset/icon-disclosure.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-billing-address.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-billing-address.imageset/icon-billing-address.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-log-out.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-log-out.imageset/icon-sign-out.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-my-order.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-my-order.imageset/icon-my-order.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-my-return.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-my-return.imageset/icon-my-return.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-my-wishlist.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-my-wishlist.imageset/icon-my-wishlist.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-shipping-address.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-shipping-address.imageset/icon-shipping-address.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-tax-invoice-address.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/screen-profile/icon-tax-invoice-address.imageset/icon-tax-invoice-address.pdf
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Models/SettingsSectionType.swift
  ecommerce-ios/Models/SettingsType.swift
  ecommerce-ios/Sources/Home/View/CategoryView/CategoryCollectionView.swift
  ecommerce-ios/Sources/Main/ContentView.swift
  ecommerce-ios/Sources/Profile/ProfileScreen.swift
  ecommerce-ios/Sources/Profile/SettingsSectionViewModel.swift
  ecommerce-ios/Views/NoItem/NoItemView.swift
  ecommerce-ios/Views/ProfileView/ProfileAboutView.swift
  ecommerce-ios/Views/ProfileView/ProfileAboutViewModel.swift
  ecommerce-ios/Views/SettingsCell/SettingSectionHeader.swift
  ecommerce-ios/Views/SettingsCell/SettingsCell.swift
  ecommerce-ios/Views/SettingsCell/SettingsCellViewModel.swift
Labels: Epic - Profile, UI, type : feature

#61 [8] [9] [UI] As a user, I can see Products shown by grouped
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Constants/Constants.swift
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Views/ProductCollectionView/ProductCollectionView.swift
  ecommerce-ios/Views/ProductCollectionView/ProductCollectionViewViewModel.swift
  ecommerce-ios/Views/ProductCollectionView/ProductSectionViewModel.swift
  ecommerce-ios/Views/ProductSectionHeader/ProductSectionHeaderView.swift
  ecommerce-ios/Views/ProductSectionHeader/ProductSectionHeaderViewViewModel.swift
Labels: Epic - Discover, UI, type : feature

#74 [Chore] Set version v0.1.0
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Info.plist
Labels: type : chore

#71 [58] [59] [60] [UI+Integration] As a user, I can see the Filter screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Models/FilterType.swift
  ecommerce-ios/Models/SortType.swift
  ecommerce-ios/Sources/Filter/FilterScreen.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
  ecommerce-ios/Sources/SearchResult/SearchResultScreen.swift
  ecommerce-ios/Views/ColorCell/ColorCell.swift
  ecommerce-ios/Views/ColorSelection/ColorSelectionView.swift
  ecommerce-ios/Views/FilterCell/FilterCell.swift
  ecommerce-ios/Views/RadioButton/RadioButtonView.swift
  ecommerce-ios/Views/SortCell/SortCell.swift
  ecommerce-ios/Views/SortCell/SortCellViewModel.swift
  ecommerce-ios/Views/SortSelection/SortSelectionView.swift
Labels: Epic - Filter, Integration, UI, type : feature

#69 [55] As a user, I can see Large Widget with data from the app
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-iosWidget/EcommerceiOSWidget.swift
  ecommerce-iosWidget/ProductListEntry.swift
  ecommerce-iosWidget/ProductListProvider.swift
  ecommerce-iosWidget/Utility/WidgetFamily+Count.swift
  ecommerce-iosWidget/WidgetView/ItemView.swift
  ecommerce-iosWidget/WidgetView/ItemsGridView.swift
  ecommerce-iosWidget/WidgetView/LargeWidget/LargeWidgetTitleView.swift
  ecommerce-iosWidget/WidgetView/LargeWidget/LargeWidgetView.swift
  ecommerce-iosWidget/WidgetView/SmallWidgetView.swift
Labels: Integration, UI, Widget

#72 [57] [Integrate] As a user, I can see the Product Detail Screen
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-favorite-light.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-favorite-light.imageset/icon-favorite-light.pdf
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-share.imageset/Contents.json
  ecommerce-ios/Application/Resources/Assets.xcassets/common-icon/icon-share.imageset/icon-share.pdf
  ecommerce-ios/Extensions/View+NavigationBar/View+NavigationBar.swift
  ecommerce-ios/Models/ProductColorType.swift
  ecommerce-ios/Models/ProductSizeType.swift
  ecommerce-ios/Sources/ProductDetail/ProductDetailScreen.swift
  ecommerce-ios/Sources/SearchResult/SearchResultScreen.swift
  ecommerce-ios/Views/ColorCell/ColorCellViewModel.swift
  ecommerce-ios/Views/ColorSelection/ColorSelectionView.swift
  ecommerce-ios/Views/ProductCell/ProductCell.swift
  ecommerce-ios/Views/ProductInformation/ProductInformationView.swift
  ecommerce-ios/Views/SizeCell/SizeCellViewModel.swift
  ecommerce-ios/Views/SizeSelection/SizeSelectionView.swift
Labels: Epic - Product Detail, Integration, type : feature

#78 [13] [16] [UI] As a user, I can see app icon on small widget
  ecommerce-iosWidget/EcommerceiOSWidget.swift
  ecommerce-iosWidget/WidgetView/SmallWidgetView.swift
Labels: Integration, UI, Widget

#80 [42] [Integration] As a user, I only see Widget in Light theme
  ecommerce-iosWidget/EcommerceiOSWidget.swift
Labels: Integration, Widget

#86 [14] [15] [17] [18] layout for medium widget
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Views/ProductInformation/ProductInformationView.swift
  ecommerce-iosWidget/EcommerceiOSWidget.swift
  ecommerce-iosWidget/WidgetView/LargeWidget/LargeWidgetView.swift
  ecommerce-iosWidget/WidgetView/Sizes/LargeWidget/LargeWidgetTitleView.swift
  ecommerce-iosWidget/WidgetView/Sizes/LargeWidget/LargeWidgetView.swift
  ecommerce-iosWidget/WidgetView/Sizes/SmallWidgetView.swift
Labels: UI, Widget

#84 [82] [Chore] Standadization for font size - font weight - font color
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Extensions/Color+Application.swift
  ecommerce-ios/Extensions/Font+Application.swift
  ecommerce-ios/Sources/Filter/FilterScreen.swift
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Sources/Home/View/CategoryView/CategoryView.swift
  ecommerce-ios/Sources/Home/View/SuggestedView/SuggestedView.swift
  ecommerce-ios/Sources/ProductDetail/ProductDetailScreen.swift
  ecommerce-ios/Sources/SearchResult/SearchResultScreen.swift
  ecommerce-ios/Sources/Tabbar/TabbarView.swift
  ecommerce-ios/Views/ColorCell/ColorCell.swift
  ecommerce-ios/Views/ColorSelection/ColorSelectionView.swift
  ecommerce-ios/Views/FilterCell/FilterCell.swift
  ecommerce-ios/Views/NoItem/NoItemView.swift
  ecommerce-ios/Views/ProductCell/ProductCell.swift
  ecommerce-ios/Views/ProductInformation/ProductInformationView.swift
  ecommerce-ios/Views/ProductSectionHeader/ProductSectionHeaderView.swift
  ecommerce-ios/Views/ProfileView/ProfileAboutView.swift
  ecommerce-ios/Views/RadioButton/RadioButtonView.swift
  ecommerce-ios/Views/SearchBar/SearchBarView.swift
  ecommerce-ios/Views/SearchItemCell/SearchItemCell.swift
  ecommerce-ios/Views/SettingsCell/SettingsCell.swift
  ecommerce-ios/Views/SizeCell/SizeCell.swift
  ecommerce-ios/Views/SizeSelection/SizeSelectionView.swift
  ecommerce-ios/Views/SortCell/SortCell.swift
Labels: type : chore

#83 [64] [63] [66] [Integrate] As a user, I can go to Product Collection
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Models/Price.swift
  ecommerce-ios/Models/Product.swift
  ecommerce-ios/Models/SearchResultItem.swift
  ecommerce-ios/Sources/Collection/CollectionScreen.swift
  ecommerce-ios/Sources/Collection/CollectionViewModel.swift
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Sources/Home/HomeViewModel.swift
  ecommerce-ios/Sources/Home/View/CategoryView/CategoryCollectionView.swift
  ecommerce-ios/Sources/Home/View/SuggestedView/SuggestedView.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
  ecommerce-ios/Sources/SearchResult/SearchResultScreen.swift
  ecommerce-ios/Views/ProductCell/ProductCell.swift
  ecommerce-ios/Views/ProductCell/ProductCellViewModel.swift
  ecommerce-ios/Views/ProductCollectionView/ProductCollectionView.swift
  ecommerce-ios/Views/ProductCollectionView/ProductSectionViewModel.swift
  ecommerce-ios/Views/ProductSectionHeader/ProductSectionHeaderView.swift
Labels: Epic - Discover, Integration, type : feature
