Repository nimblehq/nimble-ecommerce-ios, pull requests merged in 2021-06, with the labels that each got.

#73 [70] add deeplink to widget
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Application/Info.plist
  ecommerce-ios/Helpers/DeeplinkUtility.swift
  ecommerce-ios/Sources/Search/SearchScreen.swift
  ecommerce-ios/Sources/Tabbar/TabbarView.swift
  ecommerce-ios/Views/ProductInformation/ProductInformationView.swift
  ecommerce-ios/Views/ProductInformation/ProductInformationViewModel.swift
  ecommerce-iosWidget/ProductListEntry.swift
  ecommerce-iosWidget/WidgetView/ItemDescriptionView.swift
  ecommerce-iosWidget/WidgetView/ItemView.swift
  ecommerce-iosWidget/WidgetView/ItemsGridView.swift
  ecommerce-iosWidget/WidgetView/Sizes/LargeWidget/LargeWidgetTitleView.swift
Labels: Integration, Widget

#87 [85] [UI] As a user, I can see Large widget layout correctly when having 4 items or less
  ecommerce-iosWidget/WidgetView/ItemsGridView.swift
  ecommerce-iosWidget/WidgetView/Sizes/LargeWidget/LargeWidgetView.swift
Labels: UI, Widget

#88 [51] [UI] As a user, I can see the related product section on the Product Detail screen
  ecommerce-ios/Sources/ProductDetail/ProductDetailScreen.swift
Labels: Epic - Product Detail, UI, type : feature

#90 [79] As a user, I can tap on small widget to show that item on the app
  ecommerce-iosWidget/WidgetView/Sizes/SmallWidgetView.swift
Labels: Integration, Widget

#89 [19] [UI] As a user, I can load more products
  ecommerce-ios.xcodeproj/project.pbxproj
  ecommerce-ios/Models/Product.swift
  ecommerce-ios/Sources/Home/HomeScreen.swift
  ecommerce-ios/Views/ProductCell/ProductCellViewModel.swift
  ecommerce-ios/Views/ProductCollectionView/ProductCollectionView.swift
  ecommerce-ios/Views/ProductCollectionView/ProductCollectionViewViewModel.swift
  ecommerce-ios/Views/ProductCollectionView/ProductSectionViewModel.swift
Labels: Epic - Discover, UI, type : feature

#91 [Chore] Bump version to 0.2
  ecommerce-ios.xcodeproj/project.pbxproj
Labels: type : chore
